#header{
    height: 50px;
    position: fixed;
    background-color: #F38630;
    z-index: 1;
    width: 100%;

}


.main{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    position: relative;
    background-color: #E0E4CC;
    height: 100%;
    padding-bottom: 50px;
}

#login{
    text-align: center;
    padding: 200px 0px;
}

#footer{
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    background-color: #FA6900; 
}