<table>
    {% for kos in list_kos %}
    <tr>
        <td>{{kos.nama}}</td>
        <td>{{kos.pemilik}}</td>
        <td>{{kos.alamat}}</td>
        <td>{{kos.penghasilan}}</td>
        <td>{{kos.kapasitas}}</td>
        <td>{{kos.hargasewa}}</td>
        <td>{{kos.isi}}</td>
    </tr>
    {% endfor %}
</table>