#header{
    height: 80px;
    position: fixed;
    background-color: #F38630;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: white;
}

#header h1{
    padding-top: 20px;
}


.main{
    padding-top: 50px;
    position: relative;
    background-color: #E0E4CC;
    padding-bottom: 700px;
}

#login{
    text-align: center;
    padding: 200px 0px;
}

#login p{
    padding-top: 10px;
    margin-bottom: 0px;
}

#footer{
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    background-color: #FA6900; 
    padding: 30px;
}